<launch>
    <!-- Load robot description and calibration parameters -->
    <param name="robot_description" textfile="$(find ros-ngimu)/urdf/imu_urdf.urdf"/>
    <rosparam file="$(find imu_calib)/config/imu_calib.yaml" command="load" />

    <!-- Node for IMU Tracking -->
    <node name="ngimu_node" pkg="ros-ngimu" type="ngimu_node" output="screen" respawn="true">
    </node>

    <!-- Node for robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true">
    </node>

    <!-- Node for RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ros-ngimu)/rviz/ngimu.rviz"/>
</launch>
